html, body, #root {
  height: 100%;
}
.de-body{
  padding-top: 5rem;
}
.de-shop {
  padding-top: 2rem !important;
  padding-bottom: 5rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.de-userprofile {
  padding-top: 2rem !important;
  padding-bottom: 5rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}
.de-custom-card {
  background: #fff;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  transition: box-shadow .1s ease,transform .1s ease;
  padding: .875em .5em !important;
}
.de-custom-address {
  background: #fff;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  padding: .875em .5em !important;
  margin: 1rem;
}
.de-sticky-header-wrapper{
  background: white;
    width: 100%;
    position: fixed;
    z-index: 11;
}
.de-header{
  margin-bottom: 0 !important;
}

.de-poster-text{
  position: absolute;
  z-index: 10;
}
.de-poster-image{
  width: 100%;
  height: auto;
}
.de-poster-heading{
  margin-left: 5% !important;
  margin-top: 7% !important;
  line-height: 45px;
  font-size: 45px;
  color: #e2384d;
}
.de-poster-subheading{
  margin-left: 5% !important;
  line-height: 25px;
  font-size: 25px;
  color: #1f2554;
  margin-top: calc(7% + 65px) !important;
}
.de-deals-of-the-week-wrapper {
  padding: 2%;
  padding-left: 7%;
  padding-right: 7%;
  background: #fdf7f0 !important;
}
.de-deals-of-the-week-container{
  display: flex;
  justify-content: space-between;
}
.de-deals-of-the-week{
  height: auto !important;
}
.de-eye-catcher-wrapper {
  padding: 2%;
  padding-left: 7%;
  padding-right: 7%;
  height: 250px;
}
.de-payment-supported-app{
  width: 120px;
  height: 100px;
  display: inline !important;
  border-radius: 50px;
}
.de-payment-supported-container{
  background: #f7f7f7;
  padding: 1% !important;
}
.de-categories {
  padding: 2% 7%;
  background: #fdf7f0 !important;
}
.de-category-image {
  width: 350px;
  height: 240px;
}
.de-catergory-container {
  display: flex;
  justify-content: space-between;
}
.de-catergory-wrapper {
  width: 19%;
}
.de-btm-eye-catcher-wrapper{
  padding: 2%;
  padding-left: 7%;
  padding-right: 7%;
}
.de-btm-eye-catcher-container{
  display: flex;
  justify-content: space-between;
}
.de-btm-eye-catcher {
  width: 400px;
  height: 120px;
}
.de-catergory-wrapper img {
  width: 100%;
  -moz-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  -webkit-box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.de-items {
  width: 250px !important;
  cursor: pointer;
}

.de-item-currency{
  color: #33b0b0;
  font-size: 17px;
}
.de-item-current-price{
  color: #33b0b0;
  font-size: 18px;
}
.de-item-old-price{
  color: #828282;
  font-size: 12px;
  padding: 4px;
  text-decoration: line-through;
}
.de-item-savings{
  color: #3c3e01;
  font-size: 12px;
  font-weight: bold;
}
.de-ratings-summary {
  color: #009082;
  font-weight: bold;
  border-radius: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;

}
.de-review-summary {
  color: #009082;
  font-weight: bold;
  border-radius: 1px solid black;
  padding-right: 10px;
  padding-left: 10px;
}
.de-product-price-details{
  color: #000077;
  margin-top: 15px;
  font-size: 20px;
}
.de-product-price-details-old-price{
  text-decoration: line-through;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 10px;
  color: #797a7b;
  font-weight: 500;
}

.de-product-price-details-savings{
  color: #6b3d00;
  font-size: 15px;
  font-weight: bold;
}
.de-product-share-icon{
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.de-product-comments{
  margin-left: 1%;
}
.de-product-action-label {
  width: 100%;
}
.de-product-action-button{
  margin-bottom: 8px !important;
}
.de-trash-icon {
  color: red;
  margin-top: 5px;
  cursor: pointer;
}
.de-categories-to-bag {
  height: 40vh !important;
}
.cart-wrapper {
  max-height: 90vh;
  overflow: scroll;
  scrollbar-width: none !important;
  margin-bottom: 5%;
  padding: 0 !important;
}
.cart-wrapper::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
}
.nullify-grid-margin {
  margin: 0 !important;
}
.de-categories-wrapper {
  display: flex !important;
  justify-content: center;
}
.de-category-name {
  z-index: 10;
  position: absolute;
  margin-top: 32vh !important;
  font-weight: 600;
  font-size: 1.5em;
}
.de-logo {
  height: 32px;
  width: 120px;
  padding-bottom: 8px;
}
.de-buy-flow {
  padding: 0;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: #4286bf;
  color: white !important;
  font-size: 16px;
  font-weight: bold;
  margin-top: 24px;
  text-transform: uppercase;
}
.de-payment-info {
  color: green;
  margin-right: 12px;
}
.de-payment-info b {
  color: black;
}
.de-buy-flow-container {
  height: 63vh;
}
.de-buy-flow-content {
  border: 1px solid #c4c1c1;
  padding: 32px !important;
  overflow: auto;
  max-height: 30vh;
}